body {
    background-color: #333;
}
.navbar-item {
    color: red;
    font-size: 1.5em;
    margin: 0 5px;   
}

.navbar-burger {
    transform: scale(2,2);
    margin-top: 10px;
    margin-right: 10px;
}
.navbar-burger span{
    color: red;
}
#welcome{
    height: 100vh;
    background-image: url('../../assets/images/glenn-carstens-peters-P1qyEf1g0HU-unsplash.jpg');
    background-position:top;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#logo {
    width: 240px;
    height: 88.8px;
    margin: 10px;
}
#about {
    height: 100vh;;
}
footer {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}
#work{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.card {
    width: fit-content;
    margin: 15px;
}
.section-header {
    font-size: 2em;
    width: 100%;
    color: #ccc;
    text-align: center;
    padding: 10px 50px;
    background-color: red;
}