:root {
    --main-color: #333333;
    --text-color: #fff;
    --link-color: beige;
    --secondary-color: orange;
}
body {
    background-color: var(--main-color);
    color: var(--text-color)
}
main {
    width: 80%;
    margin: 10px;
    text-align: center;
}
h1 {
    margin: 5px 10px 5px 20px;
    padding: 5px;
}

li {
    list-style: none;
    display: inline;
}
header {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: var(--main-color);
}
a {
    color: var(--text-color);
    text-decoration: none;
}
nav {
    clear: both;
    float: right;
}
nav a {
    color: var(--main-color);
    padding: 25px;
}
nav a:hover {
    background-color: dimgray;
    color: #fff;
}
h3 {
    font-size: 1.5em;
    background-color: var(--secondary-color);
    padding: 10px 20px 10px 20px;
    margin: 5px;
}
section {
    height: 100vh;
    border-bottom: 1px solid #fff;
}
.section-head {
    font-size: 2em;
    margin: 5px;
    float: left;
}

}
#work-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#work-links h3 {
    width: 100%;
    text-align: center;
}
.preview {
    width: 500px;
    height: 250px;
    margin: 0px 20px 20px 20px;
    border: 1px solid white;
}
.preview:hover{
    transform: scale(1.05);
    box-shadow: 1px 1px 5px 5px rgba(255, 215, 0, 0.3);
    transition: ease-in-out 300ms;
}
.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#contact {
    clear: both;
    text-align: center;
    margin: 15px;
}
#contact li {
    clear: both;
    margin: 15px;

}
#contact a:hover {
    color: var(--secondary-color);
}
footer {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 20px;
    color: var(--main-color);    
}
