html {
    scroll-behavior: smooth;
}
body {
    background-color: #333;
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, a {
    font-family: 'Fjalla One', sans-serif;
}
#coming-soon {
    padding: 10px;
    background-color: black;
    font-size: 2em;
    margin-top: 30%;
    text-align: center;
}
#about-me {
    margin: auto;
    font-size: 1.5em;
    width: 60%;
    height: 80%;
    color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.navbar {
    border-bottom: 1px solid black;
}
.navbar-end {
    margin-right: 10px; 
}
.navbar-item {
    color: red;
    font-size: 1.5em;
    margin: 0 5px;   
}
a.navbar-item:hover {
    background-color:rgba(0,0,0,0.3);
    color: #ccc;
    transition-timing-function: ease-in-out;
    transition: color 1800ms, background-color 1800ms;
}
#navbar-mobile {
    background-color: #333;
}
.navbar-burger {
    transform: scale(2,2);
    margin-top: 10px;
    margin-right: 10px;
}
.navbar-burger span{
    color: red;
}
#welcome{
    height: 100vh;
    background-image: url('../../assets/images/glenn-carstens-peters-P1qyEf1g0HU-unsplash.jpg');
    background-position:top;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.icon {
    padding: 5px;
    margin: 10px; 
}
#logo {
    width: 240px;
    height: 88.8px;
    margin: 10px;
}
#about {
    height: 100vh;;
}
footer {
    margin-top: 15px;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}
#work{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
}
.card {
    width: 100%;
    margin: 15px;
}

.card:hover {
    border: 1px solid red;
    
}
.section-header {
    font-size: 2em;
    width: 100%;
    margin-bottom: 15px;
    color: #ccc;
    text-align: center;
    padding: 10px 50px;
    background-color: red;
}
#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
i, a {
  color: red;  
}
a:hover {
    color: #ccc;
}
i:hover {
    color: #ccc;
}
i:hover::after {
    color: black;
    font-size: .5em;
    background-color: red;
    content: attr(id);
    position: absolute;
    transform: translate3d(-50px, 50px, 0);
}
.card-header, .card-content, .card-image {
    border: 1px solid black;
}
.card-content{
    height: 100%;
    text-align: center;
}
#headshot {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-self: center;
    transform: rotate(-25deg);
}
.modal-card-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #333;
}
.modal-card-body, .modal-card-header {
    width: 80%;
    align-self: center;
}
.modal-card-title {
    color: red;
}

@media screen and (min-width:700px) {
    .card:nth-of-type(2) {
        width: 40%;
    }
     .card:nth-of-type(3) {
         width: 40%
     }
}